{% macro renderValue(question) %}

  {% if question.type == 'upload' %}
    {% set uploads = question.value|split('<br/>') %}
    <div>
      {% for upload in uploads %}
        <div class='upload'><a href="{{upload}}">{{upload}}</a></div>
      {% endfor %}
    </div>
  {% else %}
    <div>{{question.value|replace({"\n":'<br />', "\r":'<br />'})|raw}}</div>
  {% endif %}
{% endmacro %}

{% macro renderStyles() %}
  {{"<style>
    html {
      font-size: 16px;
      max-width: 1500px;
    }
    body {
      padding: 1rem;
    }
    h1 {
      margin: .75em 0 .25em;
      padding: 0;
      color: #022851;
      font-size: 1rem;
      font-style: normal;
      font-weight: 800;
      line-height: 1.2;
      font-size: 1.91rem;
    }
    h2 {
      margin: .75em 0 .25em;
      padding: 0;
      color: #022851;
      font-size: 1rem;
      font-style: normal;
      font-weight: 800;
      line-height: 1.2;
      color: #13639e;
      font-size: 1.6055rem;
    }
    h3 {
      margin: .75em 0 .25em;
      padding: 0;
      color: #022851;
      font-size: 1rem;
      font-style: normal;
      font-weight: 800;
      line-height: 1.2;
      color: #666;
      font-size: 1.3325rem;
    }
    h4 {
      margin: .75em 0 .25em;
      padding: 0;
      color: #022851;
      font-size: 1rem;
      font-style: normal;
      font-weight: 800;
      line-height: 1.2;
      font-size: 1.092rem;
    }
    .application {
      margin: 1rem;
    }
    .sub-metas {
      margin-left: 1rem;
    }
    .upload {
      margin-bottom: .5rem;
      word-break: break-all;
    }
    .u-space-ml {
      margin-left: 1rem;
    }
  </style>"|replace({"\n": "", "\r": "", "\t": ""})|raw
  }}
{% endmacro %}

{% macro renderApplicant(applicant, cycle) %}
  {% set cycleId = cycle.cycleId %}
  <h2>{{applicant.name}}</h2>
  <div class='application'>
    {{ _self.renderFormEntry(applicant.getApplicationEntryExport(cycleId), cycle.getSupporterFieldSlugs()) }}
    {% if cycle.supportIsEnabled() %}
      <div class='letters'>
        {% for supporterId, form in applicant.getSupportEntryExport(cycleId) %}
        {% set supporter = cycle.plugin.users.getByUserId(supporterId) %}
          {% if supporter %}
            <h3>Letter of Support from {{supporter.name()}}</h3>
            <div class='u-space-ml'>
              {{ _self.renderFormEntry(form, [], 4) }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro renderFormEntry(entry, skipQuestions=[], headerLevel=3) %}
  {% for question in entry %}
    {% if question.meta_key not in skipQuestions %}
      <div>
        <h{{headerLevel}}>{{question.label}}</h{{headerLevel}}>
        {% if question.sub_metas %}
          <div class='sub-metas'>
            {% for sub_question in question.sub_metas %}
              <div>
                <h{{headerLevel+1}}>{{sub_question.label}}</h{{headerLevel+1}}>
                {{ _self.renderValue(sub_question) }}
              </div>
            {% endfor %}
          </div>
        {% else %}
          {{ _self.renderValue(question) }}
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}
